@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@layer base {
  :root {
    --color-primary: #2563EB;
  }

  body {
    @apply font-sans;
  }
}

@layer components {
  .container {
    @apply mx-auto !px-4 sm:!px-6 lg:!px-8 !max-w-[1200px];
  }

  .bg-main {
    background-color: var(--color-main);
  }

  .text-main {
    color: var(--color-main);
  }

  .border-main {
    border-color: var(--color-main);
  }
}
