@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@layer base {
  :root {
    --color-main: #2563eb;
  }

  body {
    @apply font-sans;
  }
  h1 {
    @apply text-5xl leading-15 font-semibold;
  }
  h2 {
    @apply text-4xl leading-12 font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl  font-semibold;
  }
  h5 {
    @apply text-xl  font-semibold;
  }
  p {
    @apply !text-base font-normal leading-7;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 py-20 sm:px-6 lg:px-8 max-w-[1200px];
  }

  .bg-main {
    background-color: var(--color-main);
  }

  .button {
    @apply px-2 py-2  font-bold text-base cursor-pointer rounded;
  }

  .text-main {
    color: var(--color-main);
  }

  .border-main {
    border-color: var(--color-main);
  }
}
